<div class="homepage">
  <img
    width="100"
    height="50"
    src="https://1000logos.net/wp-content/uploads/2020/08/Shopify-Logo.png"
    class="logo">
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>


</div>